<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.29" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="MSBuild.ILMerge.Task" version="1.1.3" targetFramework="net472" />
  <package id="Octokit" version="0.46.0" targetFramework="net472" />
  <package id="RAGENativeUI" version="1.9.3" targetFramework="net472" />
  <package id="RagePluginHook" version="1.109.1" targetFramework="net472" />
</packages>